<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="utf-8">

		<title>左页面</title>
		<meta name="description" content="这是一个 left 页面">
		<meta name="keywords" content="index">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
		<meta name="apple-mobile-web-app-title" content="Amaze UI" />
		<link rel="stylesheet" href="assets/css/amazeui.min.css"  th:href="@{/assets/css/amazeui.min.css}"/>
		<link rel="stylesheet" href="assets/css/admin.css"  th:href="@{/assets/css/admin.css}"  >  
		<script src="assets/js/jquery-3.3.1.min.js"></script>
	</head>


	<body>
		

		<div class="am-cf admin-main" th:fragment="left">
			<!-- sidebar start -->
			<div class="admin-sidebar">
				<ul class="am-list admin-sidebar-list">
					<li><a href="/"><span class="am-icon-home"></span> 首页</a></li>
					<li class="admin-parent">
						<a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
						<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
							<li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
							<li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
							<li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
							<li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
							<li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>
						</ul>
					</li>
					<li><a href="admin-table.html"><span class="am-icon-table"></span> 表格</a></li>
					<li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li>
					<li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
				</ul>

				<div class="am-panel am-panel-default admin-sidebar-panel">
					<div class="am-panel-bd">
						<p><span class="am-icon-bookmark"></span> 公告</p>
						<p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
					</div>
				</div>

				<div class="am-panel am-panel-default admin-sidebar-panel">
					<div class="am-panel-bd">
						<p><span class="am-icon-tag"></span> wiki</p>
						<p>Welcome to the Amaze UI wiki!</p>
					</div>
				</div>
			</div>
			<!-- sidebar end -->

	</body>
	<script>
// 		$(document).ready(function() {
// 			//alert("aaa");
// 			$("#includeTop").load("top.html #");
// 			//$("#includeTop").html("aaaaaa");
// 			//alert("bbb");
// 		})
	</script> 
	
	<script src="assets/js/zepto.min.js?1.1.4"></script>
	<script src="assets/js/amazeui.js"></script>
	<script src="assets/js/app.js"></script>
</html>
